body {
    border-radius: 24px;
    background-image: url(./assets/bg-image.jpg);
    background-color: #573824;
    background-size: cover
}

#content {
    background-color: #F0E8C2;
    padding: 24px;
    width: 800px;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
}

main {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}
img {
    border-radius: 16px;
}
div h1 {
    font-size: 40px;
    color: #291B1A;
}
div h2 {
    font-size: 24px;
    color: #291B1A;
}
div p, ul {
    font-size: 16px;
    color: #573A37;
}
